body {
  margin: 0;
  line-height: normal;
  box-sizing: border-box;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-26xl: 45px;
  --font-size-base: 16px;
  --font-size-21xl: 40px;
  --font-size-lg: 18px;
  --font-size-6xl: 25px;

  /* Colors */
  --white-color: #fff;
  --color-steelblue: #289bde;
  --dark-03: #777;
  --dark-01: #1d1d1d;
  --dark-06: #e8e8e8;
  --dark-02: #4a4a4a;
  --dark-07: #f4f4f4;

  /* Paddings */
  --padding-smi: 13px;
  --padding-14xl: 33px;

  /* Border radiuses */
  --br-8xs: 5px;
}