@media (max-width: 767px) {

  .content-wrapper {
    max-width: 90%;
    margin: 0 auto;
  }
  
  .home-courses-deals {
    flex-direction: column;
    align-items: center; 
  }

  .fundamental-of-uiux-parent {
    margin-bottom: 20px;
  }

  /* Add styling for other sections */

}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {

  .content-wrapper {
    max-width: 80%;
    margin: 0 auto;
  }

  /* Tablet specific styling */

}